body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 221, 249);
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  border: 1px solid black;
  height: 700px;
  width: 700px;
  
}

.grid-row{
    display: flex;
    width: 100%;
    
}
.grid{
    border:0.5px solid grey;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.btn{
    padding: 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(3, 51, 93);
    margin: 20px;
    cursor: pointer;
    font-size: large;
    color: rgb(244, 242, 242);
    position: absolute;
    top: 20px; /* adjust as needed */
    left: 20px;
}
p{
    position: absolute;
    top: 100px;
    left: 20px;
}
